body {
	font-family: "Raleway", sans-serif;
}
/* Navbar section */
.navbar {
	margin-bottom: 2%;
	margin-top: 1%;
}
/* Banner section */
.banner {
	position: relative;
}

.banner-content {
	position: relative;
}

.text-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-overlay h1,
.text-overlay p {
	margin-top: 20px;
}
.text-overlay .btn {
	background-color: #1dd100;
	border-color: #030712;
	font-weight: 900;
}
/* Offers section */
.cupon-section {
	display: flex;
	justify-content: center;
	column-gap: 32px;
}
.offers-section-button {
	text-align: center;
	margin-top: 48px;
	margin-bottom: 48px;
}
.offers-section-button .btn {
	color: #1dd100;
	border-color: #1dd100;
	font-size: large;
	font-weight: 900;
	padding-inline: 32px;
	padding-top: 16px;
	padding-bottom: 32px;
}
/* Ticket section */
.ticket-dection-heading {
	text-align: center;
}
/* Seat selection section */

